<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451604564379-netfqsnpagj93jun4s7mb1i05a8rcu2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451604564379-netfqsnpagj93jun4s7mb1i05a8rcu2c</string>
	<key>API_KEY</key>
	<string>AIzaSyDRTfvBkLpf31yPffImKfD7ZfuuFgTzU28</string>
	<key>GCM_SENDER_ID</key>
	<string>451604564379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orta</string>
	<key>PROJECT_ID</key>
	<string>orta-event-management-system</string>
	<key>STORAGE_BUCKET</key>
	<string>orta-event-management-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451604564379:ios:5475cf23fab9e3f30eb93e</string>
	<key>DATABASE_URL</key>
	<string>https://orta-event-management-system-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>